html
{
	min-width:1280px;
	min-height:680px;
	overflow-y:hidden;
}
body
{
	margin:0;
	padding:0;
	color:#a5cf00;
	font-family:arial;
}

input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]
{
  border: 0;
  width: 210px;
  height: 30px;
  display: block;
  color: #4c5660;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  text-indent: 10px;
}

input[type="submit"], input[type="button"], input[type="submit"], button
{
  width: 100px;
  height: 30px;
  border: 0;
  background: #777;
  color: #a5cf00;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  margin-right:10px;
  cursor:pointer;
}

input[type="submit"].double, input[type="button"].double, input[type="submit"].double, button.double
{
	width:195px;
	margin:5px 0px;
}

input[type="submit"].tripple, input[type="button"].tripple, input[type="submit"].tripple, button.tripple, div.tripple
{
	width: 388px;
	height: 78px;
	margin: 15px 0px;
	border: 1px solid #a5cf00;
	line-height:80px;
	background:#4c5660;
	font-size:2em;
}

div.tripple
{
	text-align:left;
	border-radius: 4px;
	display:inline-block;
	font-size:1em;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover
{
  background: #a5cf00;
  color: white;
}

input[type="submit"].tripple:hover, input[type="button"].tripple:hover, input[type="submit"].tripple:hover, button.tripple:hover, div.tripple:hover
{
	background:#353f49;
	color:#a5cf00;
}

.roomName
{
	white-space: pre-wrap;
	line-height: 20px;
	vertical-align: middle;
	color: #a5cf00;
	display: inline-block !important;
	position: relative;
	left: 0px;
	margin: 5px 20px;
	overflow: hidden;
	max-height: 60px;
	word-wrap: break-word;
}

span.roomName:hover
{
	cursor:pointer;
}

.editRoom
{
	display: inline-block;
	width: 50px;
	height: 70px;
	line-height: 35px;
	vertical-align: middle;
	color: #a5cf00;
	position:absolute;
	right:40px;
}

.editRoom span:hover
{
	cursor:pointer;
}

.greyBtn:hover, .active
{
	background-color: #353f49;
}

canvas
{
	user-select:none;
	border-style:solid;
	border-width:1px 0 1px 0;
}

a
{
	color:#a5cf00;
	text-decoration:none;
}
a:hover
{
	color:#ccff00;
}

#pixelScape
{
	position:relative;
}

#checkers
{
	position: absolute;
	left: 0;
	top: 145px;
	z-index: -1;
}

.endBtn
{
  margin-right:0px!important;
}

#popupBackground
{
  position:fixed;
  top:95px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  z-index:19999;
}

.popupBox
{
	position: fixed;
	padding: 20px;
	background: #4c5660;
	border-radius: 4px;
	text-align: right;
	top: 20%;
	left: 50%;
	width: 210px;
	margin-left: -120px;
	z-index: 20000;
	max-height: 45%;
	overflow: auto;
	color:#e5eef3;
}

.popupBoxMedium
{
	width: 410px;
	margin-left: -205px;
}

ul
{
	padding:0;
	margin:0;
}

header
{
  width: 100%;
  height: 95px;
  background: url(../images/bitgraffity-logo.png) #4c5660 no-repeat 20px center;
  position: relative;
  top: 0px;
  left: 0px;
}

header nav
{
	float:right;
}

header li
{
	display:inline-block;
	float:left;
	width:94px;
	height:100%;
	line-height:95px;
	border-left:solid 1px #353f49;
	text-align: center;
  cursor:pointer;
}

header li:hover
{
	background:#353f49;
}

@keyframes open {
  from {
	height:0px;
  }

  to {
	height:auto;
  }
}

@keyframes close {
  from {
  }

  to {
	height:0px;
  }
}

.msg, .errorMsg
{
	text-align: left;
	margin-top: 15px;
  	animation-duration: 0.5s;
  	animation-name: open;
}

.errorMsg
{
	color: #ff702a;
}

#loginBox
{
  background: #4c5660;
  width: 204px;
  height: 0px;
  position: absolute;
  top: 95px;
  right: 0;
  z-index: 10000;
  transition: height 0.5s;
  padding: 15px;
  border-radius: 0 0 4px 4px;
}

.colorPicker
{
	vertical-align:top;
	background:#4c5660!important;
	border-radius:5px;
}

#pickerIcons
{
	position: relative;
	display: inline-block;
	top: 0px;
	background: #4c5660;
	border-radius: 5px 0 0 5px;
	padding: 0;
	width: 470px;
	margin: 0;
}

#pickerIcons menuitem
{
	display: inline-block;
	width: 70px;
	height: 100px;
	text-align: center;
	margin: 0;
	cursor: pointer;
	user-select:none;
}

#pickerIcons menuitem:hover, #pickerIcons menuitem.active
{
background-color: #353f49;
}

#pickerIcons menuitem:before
{
	content: '';
	display: block;
	width: 31px;
	height: 31px;
	background: url("../images/tools-icons.png");
	position: relative;
	margin: 10px 0px 5px 20px;
}
#pickerIcons menuitem:hover:before, #pickerIcons .active:before
{
  background-positio46pxn: 1px -31px;
}

#pickerIcons #erase:before
{
  background-position: -30px 0px;
}
#pickerIcons #erase:hover:before, #pickerIcons #erase.active:before
{
  background-position: -29px -31px;
}

#pickerIcons #move:before
{
  background-position: -95px 0px;
}
#pickerIcons #move:hover:before, #pickerIcons #move.active:before
{
  background-position: -94px -31px;
}

#pickerIcons #eyedrop:before
{
  background-position: -63px 0px;
}
#pickerIcons #eyedrop:hover:before, #pickerIcons #eyedrop.active:before
{
  background-position: -62px -31px;
}

#pickerIcons #zoomIn:before
{
  background-position: -124px 0px;
}
#pickerIcons #zoomIn:hover:before, #pickerIcons #zoomIn.active:before
{
  background-position: -124px -31px;
}

#pickerIcons #zoomOut:before
{
  background-position: -154px 0px;
}
#pickerIcons #zoomOut:hover:before, #pickerIcons #eyedrop.active:before
{
  background-position: -154px -31px;
}

footer
{
  height: 150px;
  background: #4c5660;
  position: absolute;
  bottom: 0px;
  width: 100%;
	min-width:1280px;
  font-size: 0.7em;
  line-height: 45px;
  text-indent: 20px;
	z-index:20000;
	overflow:hidden;
}

footer #bottom
{
	border-top: solid 1px #353f49;

}

#userspace
{
	height: 50px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.userBoxes
{
	position: relative;
	display: inline-block;
	height: 50px;
	background-image: url("../images/smilyface.png");
	font-size: 1.2em;
	line-height: 50px;
	text-indent: 80px;
	color: white;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 10px center;
}

#u1.userBoxes
{
  background-color:#ff702a;
width:100%;
}

#u2.userBoxes
{
  background-color:#a5cf00;
}

#u3.userBoxes
{
  background-color:#00bff3;
}

#u4.userBoxes
{
  background-color:#ec008c;
}


#bgToggle
{
	height: 100px;
	position: absolute;
	top:0px;
	right:0px;
	line-height:100px;
	text-indent: 0px;
	padding:0 10px;
}

.socialIcon
{
	background: red;
	height: 49px;
	width: 49px;
	display: inline-block;
	vertical-align: top;
	float: right;
	margin: 0 5px;
	background: url(../images/social_icons.png) no-repeat;
	text-indent:0;
}

.socialIcon:hover
{
	background-color:#353f49;
}

.socialIcon a
{
	display:inline-block;
	width:100%;
	height:100%;
}

#facebook
{
	background-position: -40px 0px;
}
#facebook:hover
{
	background-position: -40px -45px;
}
#twitter
{
	background-position: 0px 5px;
}
#twitter:hover
{
	background-position: 0px -40px;
}
#googlePlus
{
	background-position: -90px 0px;
}
#googlePlus:hover
{
	background-position: -90px -45px;
}

#pixelCount
{
	z-index: 20000;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color:#e5eef3;
	text-shadow: 1px 1px 5px black;
	font-weight:bold;
	font-size:7vh;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
